.contenedorinfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.baner{
    width: 70%;
    margin-left: 16%;

}



.pinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    width: 70vh;
    margin-left: 25%;
}
.titulo{
    display: flex;
    margin-left: 25%;
    font-size: 4vh;
}

.japo{
    display: flex;
   align-items: center;
   justify-content: center;
    font-size: 6vh;
}